/*
    Document   : main
    Created on : 2011-7-4, 13:49:57
    Author     : ICYGEN
    Description:
        The main stylesheet
*/

/* Globals */
body, img, table, iframe, ul, ol, li, form {
    margin: 0px;
    padding: 0px;
	list-style-position: inside;
}
img, iframe {
    border: 0px;
}
a {
    color: #2F6198;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
div#menu-top .webmail {
    margin-top: 2px;
	width:16px;
	height:15px;
}
.butt-1 {
    background: url( ../images/buttons/butt-1-cl.png ) top left no-repeat;
    padding-left: 6px;
    display:block;
}
.butt-1 .cr {
    background: url( ../images/buttons/butt-1-cr.png ) top right no-repeat;
    padding-right: 8px;
}
.butt-1 .cr div {
    background: url( ../images/buttons/butt-1.png ) top repeat-x;
    height: 26px;
    font-size: 11px;
    line-height: 22px;
    padding: 0px 4px;
}
.butt-1 a {
    color: #E87607;
}

.butt-2 {
    background: url( ../images/buttons/butt-2-cl.png ) top left no-repeat;
    padding-left: 5px;
    color: white;
}
.butt-2 .cr {
    background: url( ../images/buttons/butt-2-cr.png ) top right no-repeat;
    padding-right: 5px;
}
.butt-2 .cr div {
    background: url( ../images/buttons/butt-2.png ) top repeat-x;
    height: 18px;
    font-size: 10px;
    line-height: 16px;
    padding: 0px 4px;
}
.butt-2 a {
    color: white;
}

.butt-3 {
    background: url( ../images/buttons/butt-3-cl.gif ) top left no-repeat;
    padding-left: 5px;
}
.butt-3 .cr {
    background: url( ../images/buttons/butt-3-cr.gif ) top right no-repeat;
    padding-right: 5px;
}
.butt-3 .cr div {
    background: url( ../images/buttons/butt-3.gif ) top repeat-x;
    height: 18px;
    font-size: 10px;
    line-height: 16px;
    padding: 0px 4px;
}
.butt-3 a {
    color: #174373;
}

.butt-4 {
    background: url( ../images/buttons/butt-4-cl.png ) top left no-repeat;
    padding-left: 5px;
}
.butt-4 .cr {
    background: url( ../images/buttons/butt-4-cr.png ) top right no-repeat;
    padding-right: 5px;
}
.butt-4 .cr div {
    background: url( ../images/buttons/butt-4.png ) top repeat-x;
    height: 18px;
    font-size: 11px;
    line-height: 15px;
    padding: 0px 4px;
}
.butt-4 a {
    color: #E87607;
}

.butt-5 {
    background: url( ../images/buttons/butt-5-cl.png ) top left no-repeat;
    padding-left: 5px;
}
.butt-5 .cr {
    background: url( ../images/buttons/butt-5-cr.png ) top right no-repeat;
    padding-right: 5px;
}
.butt-5 .cr div {
    background: url( ../images/buttons/butt-5.png ) top repeat-x;
    height: 21px;
    font-size: 11px;
    line-height: 18px;
    padding: 0px 4px;
}
.butt-5 a {
    color: #FF7E00;
    font-weight: bold;
}

.box-1 {
    background-color: #F4F7F9;
    border: 3px solid #E8EFF4;
    padding: 6px;
    min-height: 42px;
}
.box-4 {
    background-color: #FEF4EA;
    border: 3px solid #FFEAD5;
    padding: 6px;
    min-height: 42px;
	margin-top:2px;
}
.box-4 a{
    color: #FF9F41;
    font-family: Georgia, Verdana, Arial, sans;
    font-weight: bold;
    font-style: italic;
}
.box-2 {
    background-color: #B4C6DA;
    border: 3px solid #A5BBD3;
    padding: 8px;
}
.box-3 {
    border: 1px solid #D7E2E9;
    padding: 8px;
}

.title-1 {
    font-family: Georgia, Verdana, Arial, sans;
    color: #8FB6D7;
    font-size: 2em;
    font-style: italic;
    margin-bottom: 10px;
}
.title-2 {
    font-family: Georgia, Verdana, Arial, sans;
    color: #2F6198;
    font-style: italic;
    font-weight: bold;
}
.title-2-2 {
    color: #2F6198;
    font-weight: bold;
}
.title-3 {
    font-family: Georgia, Verdana, Arial, sans;
    color: #FF7E00;
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
}
.title-4 {
    font-family: Georgia, Verdana, Arial, sans;
    color: #8FB6D7;
    font-size: 1.3em;
    font-style: italic;
    font-weight: bold;
    background: url( ../images/backgrounds/title-4.gif ) bottom left no-repeat;
    padding: 0px 0px 25px 12px;
}
.title-4 a {
    color: #8FB6D7;
}
.title-5 {
    color: #2F6198;
    font-size: 1.2em;
    font-weight: bold;
}

.text-1 {
    font-size: 1.0em;
    line-height: 1.2em;
}
.text-gray-1 {
    color: #828282;
    font-size: 0.9em;
}
.text-gray-2 {
    color: #828282;
}

/* Main elements */
body {
    color: #010101;
    background: white url( ../images/backgrounds/main.png ) top repeat-x;
    font-family: Verdana, Arial, sans;
    font-size: 11px;
    line-height: normal;
}
div#shadow {
    width: 1032px;
    margin: 0px auto;
    background: url( ../images/backgrounds/shadow.png ) top left no-repeat;
}
.width-wrap {
    width: 990px;
    margin-left: 21px;
    background-color: white;
	position:relative;
}
div#pagination {
    margin-top: 20px;
    font-size: 0.9em;
    word-spacing: 5px;
}
div#pagination a {
    color: black;
}
div#pagination span {
    font-weight: bold;
}
div#pagination span.prev, div#pagination span.next {
    color: #595959;
    font-weight: normal;
}
div#pagination .prev {
    margin-right: 10px;
}
div#pagination .next {
    margin-left: 10px;
}

/* Header */
div#menu-top {
    height: 23px;
    background: url( ../images/backgrounds/menu-top.gif ) top repeat-x;
    font-size: 0.8em;
    text-align: right;
    line-height: 22px;
    padding-right: 17px;
    position:relative;
}
div#menu-top * {
    float: right;
}
div#menu-top a {
    color: #0E3765;
    text-decoration: none;
}

div#menu-top a:hover {
    text-decoration: underline;
}
div#menu-top .separator {
    width: 18px;
    background: url( ../images/separator-1.gif ) top center no-repeat;
}
div#menu-top .flag {
    margin: 5px 4px 0px 0px;
	float:left
}
div#menu-top .key {
    margin-top: 8px;
}
div#menu-top .imgM {
    width:15px;
}

div#header {
    height: 99px;
    background: url( ../images/backgrounds/header.gif ) top repeat-x;
}
div#header .logo {
    margin: 11px 0px 0px 23px;
}
div#header .fontsize {
    float: right;
    background: url( ../images/separator-1.gif ) top right no-repeat;
    margin: 14px 17px 0px 0px;
    font-size: 0.9em;
    padding-right: 7px;
    line-height: 20px;
    width:205px;
}
div#header .fontsize .rss {
    float: right;
    color: #FF5A00;
    font-weight: bold;
    margin-right: 26px;
    font-size: 1.1em;
}
div#header .fontsize img {
    float: right;
    margin-top: 7px;
}
div#header .fontsize .separator {
    float: right;
    background: url( ../images/separator-1.gif ) top center no-repeat;
    width: 14px;
}
div#header .search-form {
    clear: right;
    float: right;
    width: 248px;
    height: 40px;
    background: url( ../images/backgrounds/search.png ) top left no-repeat;
    margin: 17px 8px 0px 0px;
}
div#header .search-form .keywords {
    float: left;
    background: url( ../images/backgrounds/search-text.gif ) top left no-repeat;
    width: 130px;
    height: 19px;
    border: none;
    padding-left: 30px;
    margin: 7px 0px 0px 10px;
    color: #B5B5B5;
    font-size: 0.8em;
    line-height: normal;
}
div#header .search-form .submit {
    float: left;
    width: 59px;
    height: 19px;
    background: url( ../images/backgrounds/search-butt.gif ) top left no-repeat;
    border: none;
    margin-top: 7px;
    color: black;
    font-size: 0.8em;
    line-height: normal;
}

/* Main menu & Breadcrumb */
div#menu-main {
    background: url( ../images/backgrounds/menu-tile.gif ) top repeat-x;
	clear:both;
}
div#menu-main .cl {
    background: url( ../images/backgrounds/menu-cl.gif ) top left no-repeat;
}
div#menu-main .cr {
    background: url( ../images/backgrounds/menu-cr.gif ) top right no-repeat;
    height: 50px;
}
div#menu-main ul {
    list-style: none outside;
    margin: 0px;
    padding: 0px;
}
div#menu-main ul li {
    float: left;
    background: url( ../images/backgrounds/menu-separator.gif ) top left no-repeat;
    padding: 0px 13px 0px 14px;
}
div#menu-main ul li:first-child {
    background-image: none;
}
div#menu-main ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 0.9em;
}
div#menu-main ul li a:hover {
    color: #8EB2D3;
    text-decoration: none;
}
div#menu-main ul li div {
    line-height: 42px;
    height: 50px;
}
div#menu-main ul li .active {
    background: url( ../images/backgrounds/menu-active.gif ) bottom center no-repeat;
}

div#breadcrumb {
    clear: left;
    color: #C3C3C3;
    font-size: 0.8em;
    line-height: 2em;
    padding: 0px 0px 2px 19px;
}
div#breadcrumb a {
    color: #C3C3C3;
}

/* Content */
div#side-menu {
    width: 224px;
    background: #4C82BF url( ../images/backgrounds/side-menu.png ) bottom left no-repeat;
    padding-bottom: 22px;
}
div#side-menu ul {
    list-style: none outside;
}
div#side-menu ul li {
    font-size: 10px;
}
div#side-menu ul li div {
    padding: 6px 12px;
	*float: left;
    background: url( ../images/separator-5.gif ) 12px 0px no-repeat;
}
div#side-menu ul li:first-child div {
    background-image: none;
}
div#side-menu ul li div img {
    float: left;
    margin-top: 4px;
}
div#side-menu ul li a {
    color: white;
    display: block;
    text-transform: uppercase;
    margin-left: 12px;
	padding-top:0px !important;	
	*float:left;
	*min-width:175px;
}
div#side-menu ul li.active div {
    background-color: #28588E;
    background-image: none;
	*float: left;
	*width: 200px;
}
div#side-menu ul li ul {
    padding-bottom: 6px;
}
div#side-menu ul li ul li div {
    padding: 6px 12px 6px 28px;
	*float: left;
}
div#side-menu ul li.active ul li div {
    background: transparent url( ../images/separator-5.gif ) 12px 0px no-repeat;
}
div#side-menu ul li ul li a {
    margin-left: 10px;
    text-transform: none;
}
div#side-menu ul li.active ul li.active div {
    background-color: #28588E;
	*float: left;
	*width: 184px;
}

div#side-menu ul li ul li ul {
    padding-bottom: 6px;
}
div#side-menu ul li ul li ul li div {
    padding: 6px 12px 6px 28px;
	background-color: #4C82BF;
}
div#side-menu ul li.active ul li.active ul li div {
    background: transparent url( ../images/separator-5.gif ) 12px 0px no-repeat;

}

div#side-menu ul li.active ul li ul li div {
    background: transparent url( ../images/separator-5.gif ) 12px 0px no-repeat;

}
div#side-menu ul li ul li ul li a {
    *margin-left: 0px;
	padding-left: 10px;
    text-transform: none;
	min-width:155px;
}
div#side-menu ul li ul li.active ul li.active div {
    background-color: #28588E;
	/*padding-top:10px;*/
}
div#side-menu ul li ul li ul li div img {
    float: left;
    margin-top: 4px;
	margin-left:10px;
}

/* Footer */
div#contacts {
    color: #7B7B7B;
    line-height: 28px;
    font-size: 0.9em;
    padding-left: 12px;
}
div#contacts .title {
    color: #A4A4A4;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
}
div#contacts span {
    margin-right: 30px;
}
div#contacts a {
    color: #E87607;
}

div#footer {
    background: url( ../images/backgrounds/footer-tile.gif ) top repeat-x;
    margin-bottom: 20px;
}
div#footer .blend {
    background: url( ../images/backgrounds/footer.gif ) top center no-repeat;
}
div#footer .width-fwrap {
    width: 990px;
    margin: 0px auto;
    font-size: 0.8em;
    padding-top: 13px;
}
div#footer .width-fwrap a {
    color: #4C82BF;
    margin-left: 14px;
}
div#footer .width-fwrap .copy {
    margin: 2px 0px 0px 14px;
    clear:left;

}
div#footer .width-fwrap .icygen {
    float: right;
    margin: 26px 22px 0px 0px;
}
div#footer .width-fwrap .icygen a {
    color: #010101;
}

/* Auxilliary */
.bold {
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear1 {
    clear: left;
}
.clear2 {
    clear: right;
}
.clear3 {
    clear: both;
}
.separator-1 {
    background: url( ../images/separator-3.gif ) center left repeat-x;
}
.link-print {
    color: #868686;
    font-size: 0.9em;
    background: url( ../images/icons/print.gif ) center right no-repeat;
    padding-right: 23px;
    line-height: 1.8em;
}


div.jPagination {
    margin-top: 20px;
    font-size: 0.9em;
    word-spacing: 5px;
}
div.jPagination a {
    color: gray;

}
div.jPagination span {
    font-weight: bold;

}

div.jPagination .prev {
    margin-right: 10px;
}
div.jPagination .next {
    margin-left: 10px;
}
.PR3 {
    padding-right:3px;
}

div.archive {float:right}
div.archive ul li{position:relative;display:inline;margin:4px; cursor:pointer}
div.archive .current{font-weight:bold}
div.archive ul li ol {margin-left:0px!important;font-weight:normal;}
div.archive ul li ol:hover {font-weight:bold;}
div.archive ul li div.archive-months {display: none;position: absolute;left: 0; top: 13px;
background-color:white;border:1px solid #ccc;padding:10px;width: 100px;z-index:999 }

div.wide-layout {margin-left:140px;margin-right:10px}

.butt-21 {
	background-color:#2F6198;
	border-radius:4px;
	color:#fff;
	padding:2px 6px;
	line-height: 16px;
	font-size: 10px;
}
