<div id="page">
    <div id="pageMainContentContainer">
        <div id="pageLeftNavigationContainer">
            <div class="col1">
                <div class="highlights">
                    <div class="title-4">Новини</div>
                    <div class="row">
                        <div class="date">28 ноември 2019</div>
                        <a href="/bg/news/zamestnik-ministar-ivanova-prez-2020-g-shte-zarabotyat-oshte-3-fonda-za-dyalovi-investicii-s-razmer-na-p-3852.html?p=eyJ0eXBlIjoiaG90In0=">Заместник-министър Иванова: През 2020 г. ще заработят още 3 фонда за дялови инвестиции с размер на публичните средства по ОПИК от около 85 млн. лв.</a>
                    </div>
                    <div class="row">
                        <div class="date">27 ноември 2019</div>
                        <a href="/bg/news/zam-ministar-borisov-uchastva-v-otbelyazvaneto-na-50-g-balgarsko-kiselo-mlyako-v-yaponiya-3850.html?p=eyJ0eXBlIjoiaG90In0=">Зам.-министър Борисов участва в отбелязването на 50 г. българско кисело мляко в Япония</a>
                    </div>
                    <div class="row">
                        <div class="date">25 ноември 2019</div>
                        <a href="/bg/news/zam-ministar-borisov-stoinostta-na-razresheniya-iznos-i-izhodyasht-transfer-v-otbranitelnata-industriya-3848.html?p=eyJ0eXBlIjoiaG90In0=">Зам.-министър Борисов: Стойността на разрешения износ и изходящ трансфер в отбранителната индустрия за първите 10 месеца на 2019 г. е около 850 милиона евро</a>
                    </div>
                    <div class="clear1">&nbsp;</div>
                </div><div class="gallery">
                    <a href="/bg/galleries-1.html" class="all">Всички</a>
                    <div id="contentVideo" class="content" style="display: none;">
                        <div class="left">&nbsp;</div>
                        <a href="/bg/video-219.html"><img src="@Url.Content("~/Images/listV_video-219-5793.png")" alt="" class="clear" /></a>
                        <div class="linkVideo"><a href="/bg/video-219.html">Министър Караниколов: По-важно е да работим за увеличаването на доходите</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pageRightContentContainer">
            <div class="col2">
                <div class="title-1">За нас</div>
                <div class="separator-1">&nbsp;</div>
                <div class="contentColumn" id="description">
                    <p style="text-align: justify;"><strong>Ефективност, прозрачност, полза за бизнеса и потребителите</strong>. Това са трите принципа, на които основаваме дейността си.</p>
                    <p style="text-align: justify;">Нашият главен приоритет е да създадем условия за траен икономически растеж в Република България и да осъществяваме законосъобразно и целесъобразно икономиката на страната. Поставяме цели, които водят към конкурентоспособна икономика с висока добавена стойност и по-добър стандарт на живот на хората в България.</p>
                    <p style="text-align: justify;">Фундаментите на <strong>икономическото развитие</strong> на страната са устойчиво производство, повишена производителност и конкурентоспособност, основана на нови технологии, иновации и модерни индустриални политики.  Развиваме традиционни сектори и сектори на бъдещето с потенциал за глобален растеж, за да създадем устойчиви индустриални клъстери. Създаваме среда за инвестиции с по-малко бюрокрация, лесни и прозрачни процедури за бизнеса, ефективно управление в полза на предприемачите.</p>
                    <p style="text-align: justify;">Ефективното <strong>външноикономическо сътрудничество</strong> също е съществена част от политиките на министерството в подкрепа на стабилния икономически растеж на страната.</p>
                    <p style="text-align: justify;"><a href="bg/pages/reglament-2016-158.html" target="_blank"><strong><em>Министерство на икономиката </em>(МИ)</strong> е Администратор на лични данни по смисъла на член 4, т.7 от Регламент № 2016/679 на Европейския парламент и на Съвета от 27 април 2016 г. относно защитата на физическите лица във връзка с обработването личните данни</a></p>
                </div>
            </div>
            <div class="clear3">&nbsp;</div>
        </div>
    </div>

</div>

