<div class="col2 client-documents-content">
    <div class="title-1">Харта на клиента</div>
    <div class="separator-1">&nbsp;</div>
    <div class="contentColumn" id="description">
        <div class="jPage" style="display: block;">
            <p style="text-align: center;"><img title="С лице към хората" src="@Url.Content("~/Images/ao_naredba.gif")" alt="С лице към хората" width="111" height="108"></p><p style="text-align: justify;"><strong>ХАРТА НА КЛИЕНТА</strong></p><p style="text-align: justify;">&nbsp;</p><p style="text-align: justify;">Министерството на икономиката провежда ясна и прозрачна политика, насочена към повишаване на конкурентоспособността на икономиката, осигуряване на растеж и заетост, поддържане на благоприятна бизнес среда и ефективно външноикономическо сътрудничество, насърчаване на инвестициите в технологични и иновативни производства и подкрепа за малките и средните предприятия.</p><p style="text-align: justify;">Министерството на икономиката предоставя качествени административни услуги чрез законосъобразна, прозрачна и ефективна дейност на администрацията, като се стреми да се отнася към своите клиенти с професионализъм и разбиране.</p><p style="text-align: justify;"><strong> </strong></p><p style="text-align: justify;"><strong>Провежданата от нас политика по качеството на административното обслужване цели:</strong></p><ul style="text-align: justify;">
                <li>да се улеснят потребителите на административни услуги при получаване на информация за видовете административни услуги;</li>
                <li>да се облекчат административните процедури;</li>
                <li>
                    при комплексното административно обслужване да бъде постигнат максимален резултат и качество на обслужването при минимален разход на финансови и човешки ресурси;
                    <ul>
                        <li>да се осигури бързо и качествено обслужване на гражданите и бизнеса;</li>
                        <li>всеки потребител на услуга да получава пълна и точна, ясна и лесно разбираема информация по поставените от него въпроси;</li>
                        <li>равнопоставеност при обслужване на всички потребители без дискриминация.</li>
                    </ul>
                </li>
            </ul><p style="text-align: justify;"><strong>От нас можете да очаквате:</strong></p><ul style="text-align: justify;">
                <li>Да се отнасяме любезно и възпитано, с внимание и уважение, да зачитаме правата и личното Ви достойнство;</li>
                <li>Да бъдем честни и отзивчиви;</li>
                <li>Да изпълняваме задълженията си безпристрастно и непредубедено;</li>
                <li>Да предприемем всички необходими действия за качествено и точно предоставяне на услугите;</li>
                <li>Да спазваме сроковете за извършване на всяка административна услуга;</li>
                <li>Да се въздържаме от каквито и да било прояви на дискриминация;</li>
                <li>При възникване на проблем, да Ви уведомим своевременно за причините, довели до това и за очаквания краен срок, в който би следвало да получите услугата;</li>
                <li>Да спазваме конфиденциалност относно всички запитвания, сигнали и жалби на всеки един потребител на административни услуги, предоставяни от министерството;</li>
                <li>Да не разпространяваме данните и личната информация на гражданите, станали ни известни при или по повод на изпълнение на служебните задължения;</li>
                <li>Да спазваме принципа за равнопоставеност на клиентите на административни услуги;</li>
                <li>Да не провокираме с поведението си конфликтни ситуации, а при възникването на такива да се стараем да запазим спокойствие и да контролираме поведението си;</li>
                <li>Да носим отличителен знак със снимка и данни за имената, длъжността, администрацията и звеното, към които принадлежим и да се представяме със собствено и фамилно име при водене на телефонни разговори.</li>
            </ul>
        </div>
    </div>
</div>