<div id="loginContainer">
    @Styles.Render("~/Content/login.css")

    @using (Html.BeginForm("Index", "Main", FormMethod.Post))
    {
        <div class="input-container">
            <label>Имейл</label>
            <input type="text" name="email" value="" />
        </div>
        <div class="input-container">
            <label>Парола</label>
            <input type="password" name="password" value="" />
        </div>
        <input type="submit" value="Влез" />
    }

</div>